.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .qaWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}
